.example-spacer {
  flex: 1;
}

.headerSearchBar {
  max-width: 300px;
  margin: 0 16px;
}

.example-button-row {
  display: flex;
}

.example-button-row .dropdown {
  margin-right: 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 135px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 8px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  letter-spacing: 1px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: white;
  background-color: #3f51b5;
  border: none;
  padding-bottom: 5px;
}

.dropdown-content-left {
  right: 0;
}

.large-screen-button {
  display: none;
}

@media (min-width: 600px) {
  .example-button-row .dropdown {
    display: none;
  }

  .large-screen-button {
    display: block;
  }
}

@media (min-width: 250px) and (max-width: 600px) {
  a {
    font-size: 12px;
  }

  strong {
    font-size: 9px;
  }
}
