<div class="card-details col-lg-8 col-md-12">
  <nav class="navbar navbar-dark bg-gray">
    <div class="container-fluid">
      <a class="navbar-brand">Thank you for your purchase!</a>
    </div>
  </nav>
  <div class="container">
    <h3>You can find the ticket(s) in your profile.</h3>
    <ng-container *ngIf="relatedEvents.length != 0">
      <h2>
        If you're interested in this event, you might also want to check out:
      </h2>
      <div class="row">
        <ng-container *ngFor="let eventName of relatedEvents; let i = index">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card mb-4">
              <div class="card-body d-flex flex-column align-items-center">
                <h5 class="card-title">{{ eventName }}</h5>
                <p class="card-text">
                  <a
                    [routerLink]="['/events', eventName]"
                    class="btn btn-primary"
                    >Go to event</a
                  >
                </p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
