<div class="event-container">
  <nav class="navbar navbar-dark bg-gray">
    <div class="container-fluid">
      <a class="navbar-brand">Sale History</a>
      <a (click)="closeSalesInformation()">
        <i class="fa-regular fa-circle-xmark exit-icon"></i>
      </a>
    </div>
  </nav>

  <div class="row d-flex justify-content-center">
    <ng-container *ngIf="salesByClient.length === 0">
      <!-- No sales message -->
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-12">
            <div class="col-sm-12 text-center mt-5">
              <img src="assets\search-len.png" alt="Searching" />
              <h3 class="display-6 mt-5 mb-5">No sales to display.</h3>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="salesByClient.length !== 0">
      <ng-container
        *ngFor="
          let sale of salesByClient
            | searchBarFilter : searchText
            | paginate : { itemsPerPage: 3, currentPage: p }
        "
      >
        <div class="mt-5 me-3 card-event">
          <div class="product-grid">
            <div class="product-image">
              <qrcode
                [qrdata]="generateQRCode(sale)"
                [width]="150"
                [errorCorrectionLevel]="'M'"
              ></qrcode>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <p class="title">{{ eventName }}</p>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <p>Id: {{ sale.salesId }}</p>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <p>
                  {{ sale.date | date : "yyyy-MM-dd" }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="text-center m-5">
        <pagination-controls
          (pageChange)="p = $event"
          previousLabel="Previous"
          nextLabel="Next"
        ></pagination-controls>
        <hr />
      </div>
    </ng-container>
  </div>
</div>
