<div class="patrimony-container mb-5">
  <!-- Check if 'listing' is true, otherwise show 'details' -->
  <ng-container *ngIf="listing; else details">
    <div class="row d-flex justify-content-center">
      <!-- Check if 'patrimonies' array is empty -->
      <ng-container *ngIf="patrimonies.length === 0">
        <div class="container mt-5">
          <div class="row">
            <div class="col-md-12">
              <div class="col-sm-12 text-center mt-5">
                <img src="assets\search-len.png" alt="Searching" />
                <h3 class="display-6 mt-5 mb-5">
                  No patrimonies to display.
                  <!-- No patrimonies message -->
                </h3>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <!-- Check if 'patrimonies' array is not empty -->
      <ng-container *ngIf="patrimonies.length !== 0">
        <!-- Iterate over 'patrimonies' array with pagination -->
        <ng-container
          *ngFor="
            let patrimony of patrimonies
              | searchBarFilter : searchText
              | paginate : { itemsPerPage: 6, currentPage: p }
          "
        >
          <div
            class="mt-5 me-3 card-patrimony"
            (click)="showDetails(patrimony)"
          >
            <div class="product-grid">
              <a [routerLink]="" class="image">
                <div class="product-image">
                  <img
                    src="http://127.0.0.1:5000/{{ patrimony.image.publicPath }}"
                    class="mb-2 mt-4"
                    alt="Patrimony Image"
                  />
                </div>
                <div class="product-content">
                  <h5>{{ patrimony.name }}</h5>
                </div>
              </a>
              <button
                class="btn border btn-primary mb-4 col-md-10 addbtn"
                (click)="showDetails(patrimony)"
              >
                <i class="fa-solid fa-eye"></i> View Details
              </button>
            </div>
          </div>
        </ng-container>

        <div class="text-center m-5">
          <pagination-controls
            (pageChange)="p = $event"
            previousLabel="Previous"
            nextLabel="Next"
          ></pagination-controls>
          <hr />
        </div>
      </ng-container>
    </div>
  </ng-container>
  <!-- 'details' template for the app-homepage-details component -->
  <ng-template #details>
    <app-patrimonies-detail
      [patrimony]="clickedPatrimony"
    ></app-patrimonies-detail>
  </ng-template>
</div>
