.container {
  width: 90%;
  margin: auto;
  padding-bottom: 15px;
}

.bg-gray {
  background-color: rgb(180, 180, 180);
}

.card-details {
  outline: rgb(180, 180, 180) solid 1px;
  margin-top: 50px !important;
  padding: 0px !important;
  width: 90%;
  margin: auto;
}

.class-details-content {
  padding: 30px !important;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

.btn {
  margin-top: 30px;
}

@media screen and (min-device-height: 1024px) {
  h4,
  p {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .col-md-4 {
    width: 100%;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .col-md-4 {
    width: 33.33%;
    float: left;
  }
}
